<div class="container">
    <div class="card">
        <div class="card-header">
            <h1>Courses</h1>
        </div>
        <ul class="list-group">
            <li>Curso: {{ courses.name }}</li>
        </ul>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col">
                <h2>Students</h2>

                <div class="card">
                    <table class="table table-striped"> 
                    <tr>
                        <th>Identification</th>
                        <th>Name</th>
                        <th>Surname</th>
                    </tr>
                    @for (student of courses.students; track $index) {
                    <tr>
                        <td>{{ student.identification }}</td>
                        <td>{{ student.name }}</td>
                        <td>{{ student.surname }}</td>
                    </tr>
                    }

                </table>
                </div>
                
            </div>

        <div>
            <div>
                <h1>Courses</h1>
                <app-course [course]="courses"></app-course>
            </div>
        </div>